src/main/resources/wsdl/BIS_MM_Contract.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BIS_MM_Contract" targetNamespace="urn:kegoc.kz:BIS:ZMM_0042_Contract" xmlns:p3="urn:kegoc.kz:BIS:CommonObjects" xmlns:p2="http://sap.com/xi/XI/System/Patterns" xmlns:p1="urn:kegoc.kz:BIS:ZMM_0042_Contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_BIS_MM_Contract"/>
    <wsdl:types>
        <xsd:schema targetNamespace="urn:kegoc.kz:BIS:CommonObjects" xmlns="urn:kegoc.kz:BIS:CommonObjects" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:complexType name="ExchangeLogData">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">8c65f97d85c911e8ba440000005576b6</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="severity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="text" type="xsd:string"/>
                    <xsd:element name="url" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="id" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Response">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">f8167aa1869c11e8b2dc0000005576b6</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">63b7d34b835811e88b8a00ff40a6f108</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ID_SAP" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">63b7d346835811e8825500ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>ID объекта в SAP</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ID" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">63b7d347835811e899c300ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>ID объекта</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="Msg_Num" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">63b7d348835811e8ca9b00ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Результат обработки данных в системе-приемнике, код</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="3"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="Msg_Type" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">63b7d349835811e8ae6e00ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Результат обработки данных в системе-приемнике, тип (S=success, E=error, W=warning)</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="1"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="Msg" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">63b7d34a835811e8bc4900ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Результат обработки данных в системе-приемнике (текст)</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ExchangeFaultData">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">8c5a31f985c911e885410000005576b6</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="faultText" type="xsd:string"/>
                    <xsd:element name="faultUrl" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="faultDetail" type="ExchangeLogData" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="urn:kegoc.kz:BIS:ZMM_0042_Contract" xmlns:p1="urn:kegoc.kz:BIS:CommonObjects" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:kegoc.kz:BIS:ZMM_0042_Contract">
            <xsd:import namespace="urn:kegoc.kz:BIS:CommonObjects"/>
            <xsd:element name="Contract" type="Contract"/>
            <xsd:element name="Contract_Resp" type="p1:Response"/>
            <xsd:complexType name="Contract">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">210ea61285ca11e8a9a20000005576b6</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">7df53b6b835311e8c36900ff40a6f108</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ContractID" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3ff13e45834d11e8c00400ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>ID договора</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="SuperiorContract" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3ff16490834d11e88f4300ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Вышестоящий договор (заполняется в случае доп. соглашения к договору)</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="Supplier" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3ff16491834d11e8bb9b00ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Поставщик</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ContractType" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3ff16492834d11e8b92900ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Вид договора (Основной/Доп. соглашение)</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="LegalContractNum" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3ff16493834d11e8cfec00ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Юридический номер договора</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ContractDate" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3ff16494834d11e8800b00ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Дата договора</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PReqNum" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3ff16495834d11e893a100ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Номер заявки (необходимо для копирования позиций контракта)</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PeriodBeginDate" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3ff16496834d11e89b0800ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Начало срока действия</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PeriodEndDate" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3ff16497834d11e8b92400ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Дата окончания договора</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PaymentTerms" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3ff188bd834d11e89f7b00ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Условие платежа</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PurchasingOrg" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3ff188be834d11e8860400ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Закупочная организация</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="PurchasingGroup" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3ff188bf834d11e88c1600ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Группа закупок</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="TaxCode" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">3ff188c0834d11e8ca0400ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Код налога</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/XI/System/Patterns" xmlns:p1="urn:kegoc.kz:BIS:CommonObjects" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/XI/System/Patterns">
            <xsd:import namespace="urn:kegoc.kz:BIS:CommonObjects"/>
            <xsd:element name="FaultMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="standard" type="p1:ExchangeFaultData"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Contract">
        <wsdl:documentation/>
        <wsdl:part name="Contract" element="p1:Contract"/>
    </wsdl:message>
    <wsdl:message name="Contract_Resp">
        <wsdl:documentation/>
        <wsdl:part name="Contract_Resp" element="p1:Contract_Resp"/>
    </wsdl:message>
    <wsdl:message name="p3.FaultMessage">
        <wsdl:documentation/>
        <wsdl:part name="FaultMessage" element="p2:FaultMessage"/>
    </wsdl:message>
    <wsdl:portType name="BIS_MM_Contract">
        <wsdl:documentation/>
        <wsdl:operation name="BIS_MM_Contract">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_BIS_MM_Contract"/>
            </wsp:Policy>
            <wsdl:input message="p1:Contract"/>
            <wsdl:output message="p1:Contract_Resp"/>
            <wsdl:fault name="p3.FaultMessage" message="p1:p3.FaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BIS_MM_ContractBinding" type="p1:BIS_MM_Contract">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="BIS_MM_Contract">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:output>
            <wsdl:fault name="p3.FaultMessage">
                <soap:fault use="literal" name="p3.FaultMessage" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BIS_MM_ContractService">
        <wsdl:port name="HTTP_Port" binding="p1:BIS_MM_ContractBinding">
            <soap:address location="http://kegoci10.corp.kegoc.kz:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BIS_D&amp;receiverParty=&amp;receiverService=&amp;interface=BIS_MM_Contract&amp;interfaceNamespace=urn%3Akegoc.kz%3ABIS%3AZMM_0042_Contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:BIS_MM_ContractBinding">
            <soap:address location="https://kegoci10.corp.kegoc.kz:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BIS_D&amp;receiverParty=&amp;receiverService=&amp;interface=BIS_MM_Contract&amp;interfaceNamespace=urn%3Akegoc.kz%3ABIS%3AZMM_0042_Contract" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>