src/main/resources/wsdl/BIS_EstimatedChargeInvoicesService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BIS_EstimatedChargeInvoices" targetNamespace="urn:kegoc.kz:BIS:LO_0002_1_EstimatedChargeInvoice" xmlns:p3="http://sap.com/xi/XI/System/Patterns" xmlns:p2="urn:kegoc.kz:BIS:CommonObjects" xmlns:p1="urn:kegoc.kz:BIS:LO_0002_1_EstimatedChargeInvoice" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation/>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="OP_BIS_EstimatedChargeInvoices"/>
    <wsdl:types>
        <xsd:schema targetNamespace="urn:kegoc.kz:BIS:CommonObjects" xmlns="urn:kegoc.kz:BIS:CommonObjects" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="Response" type="Response"/>
            <xsd:complexType name="ExchangeLogData">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">8c65f97d85c911e8ba440000005576b6</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="severity" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="text" type="xsd:string"/>
                    <xsd:element name="url" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="id" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Response">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">f8167aa1869c11e8b2dc0000005576b6</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">63b7d34b835811e88b8a00ff40a6f108</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="ID_SAP" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">63b7d346835811e8825500ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>ID объекта в SAP</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="ID" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">63b7d347835811e899c300ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>ID объекта</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="Msg_Num" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">63b7d348835811e8ca9b00ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Результат обработки данных в системе-приемнике, код</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="3"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="Msg_Type" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">63b7d349835811e8ae6e00ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Результат обработки данных в системе-приемнике, тип (S=success, E=error, W=warning)</xsd:documentation>
                                    </xsd:annotation>
                                    <xsd:simpleType>
                                        <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="1"/>
                                        </xsd:restriction>
                                    </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="Msg" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">63b7d34a835811e8bc4900ff40a6f108</xsd:appinfo>
                                        <xsd:documentation>Результат обработки данных в системе-приемнике (текст)</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ExchangeFaultData">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">8c5a31f985c911e885410000005576b6</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="faultText" type="xsd:string"/>
                    <xsd:element name="faultUrl" type="xsd:string" minOccurs="0"/>
                    <xsd:element name="faultDetail" type="ExchangeLogData" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="urn:kegoc.kz:BIS:LO_0002_1_EstimatedChargeInvoice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:kegoc.kz:BIS:LO_0002_1_EstimatedChargeInvoice">
            <xsd:element name="EstimatedChargeInvoices" type="EstimatedChargeInvoices"/>
            <xsd:complexType name="EstimatedChargeInvoices">
                <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/VersionID">dfb0e37a9c8a11e881fa0000005576b6</xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element name="item" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:appinfo source="http://sap.com/xi/TextID">2c79d2899ae111e89c4000ff7039910a</xsd:appinfo>
                        </xsd:annotation>
                        <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element name="id" type="xsd:long">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0b79ae111e8c90400ff7039910a</xsd:appinfo>
                                        <xsd:documentation>Ид документа в БИС</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="docType" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0b89ae111e88d9500ff7039910a</xsd:appinfo>
                                        <xsd:documentation>
                                            Вид документа:
                                            ZFO - оценочный,
                                            ZF2 – счет-фактура (обычный)
                                            ZF3 – счет-фактура (исправленный)
                                            ZG2 – кредитовое авизо
                                            ZL2 – дебетовое авизо
                                        </xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="srcDocNum" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0b99ae111e88c5800ff7039910a</xsd:appinfo>
                                        <xsd:documentation>№ исходного документа</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="orderNum" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0ba9ae111e88e4300ff7039910a</xsd:appinfo>
                                        <xsd:documentation>№ сбытового заказа</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="turnoverDate" type="xsd:date">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0bb9ae111e8890200ff7039910a</xsd:appinfo>
                                        <xsd:documentation>Дата совершения оборота</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="accountingDate" type="xsd:date">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0bc9ae111e8ccc300ff7039910a</xsd:appinfo>
                                        <xsd:documentation>Дата проводки</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="customerNum" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0bd9ae111e8863e00ff7039910a</xsd:appinfo>
                                        <xsd:documentation>№ делового партнера-заказчика</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="contractNum" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0bf9ae111e8804900ff7039910a</xsd:appinfo>
                                        <xsd:documentation>№ договора SAP</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="extContractNum" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0c09ae111e8a7be00ff7039910a</xsd:appinfo>
                                        <xsd:documentation>Внешний № договора</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="companyCode" type="xsd:string">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0c19ae111e8bab800ff7039910a</xsd:appinfo>
                                        <xsd:documentation>Балансовая единица</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="amount" type="xsd:double" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0c29ae111e8cff500ff7039910a</xsd:appinfo>
                                        <xsd:documentation>Сумма СФ включая НДС</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="tax" type="xsd:double" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0c39ae111e8a6bc00ff7039910a</xsd:appinfo>
                                        <xsd:documentation>Сумма НДС</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="currencyCode" type="xsd:string" minOccurs="0">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0c49ae111e8b89a00ff7039910a</xsd:appinfo>
                                        <xsd:documentation>Код валюты</xsd:documentation>
                                    </xsd:annotation>
                                </xsd:element>
                                <xsd:element name="row" minOccurs="0" maxOccurs="unbounded">
                                    <xsd:annotation>
                                        <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0cd9ae111e8ac3b00ff7039910a</xsd:appinfo>
                                    </xsd:annotation>
                                    <xsd:complexType>
                                        <xsd:sequence>
                                            <xsd:element name="posNum" type="xsd:long">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0c59ae111e89f9100ff7039910a</xsd:appinfo>
                                                    <xsd:documentation>№ позиции в СФ</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="consigneeNum" type="xsd:string">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">a8a6b6869c8a11e8a3b600ff7039910a</xsd:appinfo>
                                                    <xsd:documentation>№ делового партнера-грузополучателя</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="posName" type="xsd:string">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0c69ae111e8a5fa00ff7039910a</xsd:appinfo>
                                                    <xsd:documentation>Наименование позиции</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="itemNum" type="xsd:string">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0c79ae111e8aa3c00ff7039910a</xsd:appinfo>
                                                    <xsd:documentation>№ материала/услуги в SAP</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="unit" type="xsd:string">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0c89ae111e8bad100ff7039910a</xsd:appinfo>
                                                    <xsd:documentation>Единица измерения</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="quantity" type="xsd:double">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0c99ae111e8a15000ff7039910a</xsd:appinfo>
                                                    <xsd:documentation>Количество</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="price" type="xsd:double">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0ca9ae111e8bd7700ff7039910a</xsd:appinfo>
                                                    <xsd:documentation>Цена за единицу</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="amount" type="xsd:double">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0cb9ae111e8c3b600ff7039910a</xsd:appinfo>
                                                    <xsd:documentation>Стоимость без НДС</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                            <xsd:element name="taxRate" type="xsd:double">
                                                <xsd:annotation>
                                                    <xsd:appinfo source="http://sap.com/xi/TextID">2c79c0cc9ae111e893e000ff7039910a</xsd:appinfo>
                                                    <xsd:documentation>Ставка НДС</xsd:documentation>
                                                </xsd:annotation>
                                            </xsd:element>
                                        </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema targetNamespace="http://sap.com/xi/XI/System/Patterns" xmlns:p8="urn:kegoc.kz:BIS:CommonObjects" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/xi/XI/System/Patterns">
            <xsd:import namespace="urn:kegoc.kz:BIS:CommonObjects"/>
            <xsd:element name="FaultMessage">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="standard" type="p8:ExchangeFaultData"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="EstimatedChargeInvoices">
        <wsdl:documentation/>
        <wsdl:part name="EstimatedChargeInvoices" element="p1:EstimatedChargeInvoices"/>
    </wsdl:message>
    <wsdl:message name="p2.Response">
        <wsdl:documentation/>
        <wsdl:part name="Response" element="p2:Response"/>
    </wsdl:message>
    <wsdl:message name="p2.FaultMessage">
        <wsdl:documentation/>
        <wsdl:part name="FaultMessage" element="p3:FaultMessage"/>
    </wsdl:message>
    <wsdl:portType name="BIS_EstimatedChargeInvoices">
        <wsdl:documentation/>
        <wsdl:operation name="BIS_EstimatedChargeInvoices">
            <wsdl:documentation/>
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_BIS_EstimatedChargeInvoices"/>
            </wsp:Policy>
            <wsdl:input message="p1:EstimatedChargeInvoices"/>
            <wsdl:output message="p1:p2.Response"/>
            <wsdl:fault name="p2.FaultMessage" message="p1:p2.FaultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BIS_EstimatedChargeInvoicesBinding" type="p1:BIS_EstimatedChargeInvoices">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        <wsdl:operation name="BIS_EstimatedChargeInvoices">
            <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            <wsdl:input>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:output>
            <wsdl:fault name="p2.FaultMessage">
                <soap:fault use="literal" name="p2.FaultMessage" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BIS_EstimatedChargeInvoicesService">
        <wsdl:port name="HTTP_Port" binding="p1:BIS_EstimatedChargeInvoicesBinding">
            <soap:address location="http://kegoci10.corp.kegoc.kz:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BIS_D&amp;receiverParty=&amp;receiverService=&amp;interface=BIS_EstimatedChargeInvoices&amp;interfaceNamespace=urn%3Akegoc.kz%3ABIS%3ALO_0002_1_EstimatedChargeInvoice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
        <wsdl:port name="HTTPS_Port" binding="p1:BIS_EstimatedChargeInvoicesBinding">
            <soap:address location="https://kegoci10.corp.kegoc.kz:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BIS_D&amp;receiverParty=&amp;receiverService=&amp;interface=BIS_EstimatedChargeInvoices&amp;interfaceNamespace=urn%3Akegoc.kz%3ABIS%3ALO_0002_1_EstimatedChargeInvoice" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>