src/main/resources/wsdl/SaleInvoiceRevService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://bis.kegoc.kz/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SaleInvoiceRevService" targetNamespace="http://bis.kegoc.kz/soap">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bis.kegoc.kz/soap" elementFormDefault="qualified" targetNamespace="http://bis.kegoc.kz/soap" version="1.0">
      <xs:element name="revInvoices" type="tns:revInvoices"/>
      <xs:element name="revInvoicesResponse" type="tns:revInvoicesResponse"/>
      <xs:complexType name="revInvoices">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="invoiceRev" type="tns:SaleInvoiceRev"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SaleInvoiceRev">
        <xs:annotation>
          <xs:documentation>Сторно счета-фактуры</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="id" type="xs:long">
            <xs:annotation>
              <xs:documentation>Ид документа в БИС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="docNum" type="xs:string">
            <xs:annotation>
              <xs:documentation>№ документа SAP</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="docDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>Дата документа</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="revDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>Дата сторнирования документа</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="revInvoicesResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="msg" type="tns:Msg"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Msg">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:string">
            <xs:annotation>
              <xs:documentation>Идентификатор объекта в БИС</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="sapId" type="xs:string">
            <xs:annotation>
              <xs:documentation>Идентификатор объекта в SAP</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="system" type="xs:string">
            <xs:annotation>
              <xs:documentation>Код системы: BIS</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="msgNum" type="xs:string">
            <xs:annotation>
              <xs:documentation>№ сообщения</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="msgType" type="xs:string">
            <xs:annotation>
              <xs:documentation>Тип сообщения: S, W, E</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="msg" type="xs:string">
            <xs:annotation>
              <xs:documentation>Текст сообщения</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="revInvoices">
    <wsdl:part element="tns:revInvoices" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:message name="revInvoicesResponse">
    <wsdl:part element="tns:revInvoicesResponse" name="parameters"> </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SaleInvoiceRevService">
    <wsdl:operation name="revInvoices">
      <wsdl:input message="tns:revInvoices" name="revInvoices"> </wsdl:input>
      <wsdl:output message="tns:revInvoicesResponse" name="revInvoicesResponse"> </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaleInvoiceRevServiceSoapBinding" type="tns:SaleInvoiceRevService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="revInvoices">
      <soap:operation soapAction="revInvoices" style="document"/>
      <wsdl:input name="revInvoices">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="revInvoicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaleInvoiceRevService">
    <wsdl:port binding="tns:SaleInvoiceRevServiceSoapBinding" name="SaleInvoiceRevServicePort">
      <soap:address location="http://localhost:8083/services/SaleInvoiceRevService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>