src/main/resources/wsdl/SaleInvoiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://bis.kegoc.kz/soap" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SaleInvoiceService" targetNamespace="http://bis.kegoc.kz/soap">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bis.kegoc.kz/soap" xmlns:ns1="http://bis.kegoc.kz/server" elementFormDefault="qualified" targetNamespace="http://bis.kegoc.kz/soap" version="1.0">

  <xs:import namespace="http://bis.kegoc.kz/server"/>

  <xs:element name="createInvoices" type="tns:createInvoices"/>

  <xs:element name="createInvoicesResponse" type="tns:createInvoicesResponse"/>

  <xs:complexType name="createInvoices">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="invoice" type="tns:SaleInvoice"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SaleInvoice">
    <xs:annotation>
      <xs:documentation>Счета-фактуры</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id" type="xs:long">
        <xs:annotation>
          <xs:documentation>Иж документа в БИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sapDocNum" type="xs:string">
        <xs:annotation>
          <xs:documentation>№ документа в SAP</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sapDocDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Дата документа в SAP</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="docNum" type="xs:string">
        <xs:annotation>
          <xs:documentation>Внешний № документа</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="accountingDate" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Дата проводки</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="bpNum" type="xs:string">
        <xs:annotation>
          <xs:documentation>№ делового партнера в SAP</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="contractNum" type="xs:string">
        <xs:annotation>
          <xs:documentation>№ договора в SAP</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extContractNum" type="xs:string">
        <xs:annotation>
          <xs:documentation>Внешний № договора</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Балансовая единица</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="system" type="xs:string">
        <xs:annotation>
          <xs:documentation>Идентификатор системы-отправителя</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" type="xs:double">
        <xs:annotation>
          <xs:documentation>Сумма СФ включая НДС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="tax" type="xs:double">
        <xs:annotation>
          <xs:documentation>Сумма НДС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="currencyCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Код валюты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="exchangeRate" type="xs:double">
        <xs:annotation>
          <xs:documentation>Курс валюты</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" name="line" type="tns:Line">
        <xs:annotation>
          <xs:documentation>Список позиций СФ</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Line">
    <xs:annotation>
      <xs:documentation>Позиция СФ</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="posNum" type="xs:long">
        <xs:annotation>
          <xs:documentation>№ позиции в СФ</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="posName" type="xs:string">
        <xs:annotation>
          <xs:documentation>Наименование позиции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="itemNum" type="xs:string">
        <xs:annotation>
          <xs:documentation>№ материала/услуги</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unit" type="xs:string">
        <xs:annotation>
          <xs:documentation>Единица измерения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="quantity" type="xs:double">
        <xs:annotation>
          <xs:documentation>Количество</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="price" type="xs:double">
        <xs:annotation>
          <xs:documentation>Цена за единицу</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="amount" type="xs:double">
        <xs:annotation>
          <xs:documentation>Стоимость без НДС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="taxRate" type="xs:double">
        <xs:annotation>
          <xs:documentation>Ставка НДС</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createInvoicesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="msg" type="ns1:Msg"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bis.kegoc.kz/server" version="1.0">

  <xs:complexType name="Msg">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Идентификатор объекта в БИС</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element form="qualified" minOccurs="0" name="sapId" type="xs:string">
        <xs:annotation>
          <xs:documentation>Идентификатор объекта в SAP</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element form="qualified" name="sysCode" type="xs:string">
        <xs:annotation>
          <xs:documentation>Код системы: BIS</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element form="qualified" name="msgNum" type="xs:string">
        <xs:annotation>
          <xs:documentation>№ сообщения</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element form="qualified" name="msgType" type="xs:string">
        <xs:annotation>
          <xs:documentation>Тип сообщения: S, W, E</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element form="qualified" minOccurs="0" name="msg" type="xs:string">
        <xs:annotation>
          <xs:documentation>Текст сообщения</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="createInvoicesResponse">
    <wsdl:part element="tns:createInvoicesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createInvoices">
    <wsdl:part element="tns:createInvoices" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SaleInvoiceService">
    <wsdl:operation name="createInvoices">
      <wsdl:input message="tns:createInvoices" name="createInvoices">
    </wsdl:input>
      <wsdl:output message="tns:createInvoicesResponse" name="createInvoicesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaleInvoiceServiceSoapBinding" type="tns:SaleInvoiceService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createInvoices">
      <soap:operation soapAction="createInvoices" style="document"/>
      <wsdl:input name="createInvoices">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createInvoicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaleInvoiceService">
    <wsdl:port binding="tns:SaleInvoiceServiceSoapBinding" name="SaleInvoiceServicePort">
      <soap:address location="http://localhost:8083/services/SaleInvoiceService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>